#menu{
	background-color: #1e90ff;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
}

#logoImage{
	width: 10%;
	margin-left: 20px;
}

.display_inline{
	display: inline;
}

#home{
	border: 1px solid;
	position: absolute;
	left: 200px;
	top: 50px;
	width: 70px;
	height: 40px;
	color: #ffffff;
	background-color: #1e90ff;
	cursor: pointer;
	text-align: center;
	font-family: cambria;
	font-size: 16px;
}

#agenda{
	border: 1px solid;
	position: absolute;
	left: 310px;
	top: 50px;
	width: 70px;
	height: 40px;
	color: #ffffff;
	background-color: #1e90ff;
	cursor: pointer;
	text-align: center;
	font-family: cambria;
	font-size: 14px;
}

#clientes{
	border: 1px solid;
	position: absolute;
	left: 420px;
	top: 50px;
	width: 70px;
	height: 40px;
	color: #ffffff;
	background-color: #1e90ff;
	cursor: pointer;
	text-align: center;
	font-family: cambria;
	font-size: 13px;
}

#registro_cliente{
	border: 1px solid;
	position: absolute;
	left: 530px;
	top: 50px;
	width: 74px;
	height: 40px;
	color: #ffffff;
	background-color: #1e90ff;
	cursor: pointer;
	text-align: center;
	font-family: cambria;
	font-size: 12px;
}

#reserva_servico{
	border: 1px solid;
	position: absolute;
	left: 640px;
	top: 50px;
	width: 70px;
	height: 40px;
	color: #ffffff;
	background-color: #1e90ff;
	cursor: pointer;
	text-align: center;
	font-family: cambria;
	font-size: 12px;
}

#logout{
	border: 1px solid;
	position: absolute;
	left: 750px;
	top: 50px;
	width: 70px;
	height: 40px;
	color: #ffffff;
	background-color: #1e90ff;
	cursor: pointer;
	text-align: center;
	font-family: cambria;
	font-size: 15px;
}
